*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.box{
    background-color: #a52a2a;
    width: 30%;
    height: 300px;
    /* margin-right: 10px; */
    font-size: 8px;
   margin-bottom: 10px; 
    padding: 10px;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.btn{
  width: 30%;
  
  margin-right: 10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  
}
h1{
  
  background-color: aliceblue;
}
p{
   background-color: bisque;
 margin-top: 10px;
  
}
